@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
* {
  box-sizing: border-box;
}
.homebanner {
  background-image: url("./assets/banner/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content;
}
body {
  font-family: "Inter", sans-serif;
}
.destination-card:hover .card-body {
  top: 35%;
  transition: all 0.3s ease-in-out;
}
.quick-links {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 16px 25px;
  padding: 16px;
  margin: 0 auto;
  color: rgb(16, 72, 195);
}
.quick-links p {
  border-right: 1px solid rgb(238, 238, 238);
  padding-right: 8px;
}
.details-photo {
  position: relative;
  bottom: 50px;
  left: 20px;
  padding: 24px;
  background: #fcfcfc;
  border: 2px solid #fff;
  box-shadow: 0 2.62857px 2.62857px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.31429px);
  border-radius: 15px;
  margin-right: 24px;
  flex-shrink: 0;
}
.details-tabs-data {
  display: flex;
  flex-direction: column;
  background: #f6f8fe;
  box-shadow: 0 0 4px rgba(16, 24, 64, 0.12);
  border-radius: 12px;
}
.table-class {
  width: 100%;
  border: 1px solid #76a5bf;
  border-collapse: collapse;
  font-size: 0.875rem;
  display: table;
}
.table-class td,
.table-class th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: start;
}
.table-class th {
  background-color: #054667;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .quick-links p {
    border-right: none;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 8px;
    font-size: 1.2rem;
  }
}
